.container {
	min-height: 100vh;
	background-color: #343639;

	.profile {
		background-color: #464446;

		.profile-image {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}

		.info {
			border-right: 2px solid #ed8e61;
		}

		.nav-wrapper {
			height: calc(100vh - 366px);
			background-color: #ed8e61;

			.run-image {
				width: 25px;
				height: 25px;
			}

			.nav-item {
				position: relative;
				background-color: #343639;
				color: white;
				border-radius: 30px 0 0 30px;
			}

			.nav-item::before {
				content: '';
				position: absolute;
				height: 50px;
				width: 25px;
				right: 0;
				top: -50px;
				border-bottom-right-radius: 25px;
				box-shadow: 0 25px 0 0 #343639;
			}

			.nav-item::after {
				content: '';
				position: absolute;
				height: 50px;
				width: 25px;
				right: 0;
				bottom: -50px;
				border-top-right-radius: 25px;
				box-shadow: 0 -25px 0 0 #343639;
			}
		}
	}

	.dashboard-activity {
		margin-left: 22.15%;

		.name-wrapper {
			border-radius: 25px;
			background-image: linear-gradient(to right, #ed8e61, #464446);
		}

		.activity-box {
			height: 140px;
			align-items: center;
			justify-content: space-evenly;
			border-radius: 25px;
			background-color: #505050;

			.image-wrapper {
				width: 90px;
				height: 90px;
				border-radius: 50%;
				background-color: #ed8e61;

				img {
					width: 64px;
					height: 64px;
				}

				.burn-image {
					width: 55px;
				}
			}
		}

		.bar-chart-wrapper {
			width: 68%;
			background-color: #505050;
			border-radius: 25px;
		}

		.heart-box {
			width: 33%;
			background-color: #505050;
			border-radius: 25px;

			.heart-wrapper {
				width: 200px;

				p {
					min-width: 104px;
				}
			}
		}

		.steps-detail {
			top: 100px;
			left: 25%;
			width: 50%;
			min-height: 50%;
			background-color: #464446;
			border-radius: 25px;
			z-index: 1;

			.individual-chart-wrapper {
				width: calc(100% - 70px);
				padding: 20px;
			}
		}
	}

	.activity-name {
		background-color: #464446;
		border-radius: 25px;
		height: 120px;
		margin: 0 10px 15px 0;
	}
}

.activity-wrapper {
	margin: 0 !important;
}

.activity-details-box {
	border: 2px solid #ed8e61;
	padding: 10px;
	text-align: center;
	margin: 0 10px 15px 0;
	border-radius: 25px;
}

.activity-modal {
	background-color: #4644464f !important;

	.modal-dialog {
		max-width: calc(100% - 64px) !important;
		min-height: 50% !important;
		color: #ed8e61 !important;
		margin: 0 auto !important;
		padding: 20px;
		border: 1px solid white;
		border-radius: 25px !important;
		background-color: #464446 !important;
	}

	.modal-close-btn {
		float: right;
		display: none;
	}
}

@media screen and (max-width: 1281px) {
	.activity-wrapper {
		left: 0;
		max-width: 100%;
	}
	.activity-details-box {
		margin: 0 7px 10px 0;
		width: 29% !important;
	}
}

@media screen and (max-width: 1025px) {
	.container {
		.profile {
			.font--24 {
				font-size: 1.25rem;
			}
			.font--md {
				font-size: 0.875rem;
			}
		}
		.name-wrapper {
			.font--48 {
				font-size: 2.75rem;
			}
			.font--xxl {
				font-size: 1.125rem;
			}
		}
		.font--30 {
			font-size: 1.625rem;
		}
		.font--22 {
			font-size: 1.25rem;
		}
		.font--28 {
			font-size: 1.438rem;
		}
		.max-width--100 {
			max-width: 100px;
		}
		.dashboard-activity {
			.activity-box {
				margin-right: 10px;
			}
		}
		.activity-name {
			width: 29%;
		}
	}
}

@media screen and (max-width: 769px) {
	.container {
		.profile {
			.profile-image {
				width: 100px;
				height: 100px;
			}
			.nav-wrapper {
				height: calc(100vh - 266px);
				div {
					padding: 10px;
				}
				h1 {
					line-height: 40px;
				}
			}
			.font--24 {
				font-size: 1.125rem;
			}
			.font--md {
				font-size: 0.75rem;
			}
		}
		.name-wrapper {
			.font--48 {
				font-size: 2.5rem;
			}
			.font--xxl {
				font-size: 1rem;
			}
		}
		.font--30 {
			font-size: 1.5rem;
		}
		.font--22 {
			font-size: 1.125rem;
		}
		.font--28 {
			font-size: 1.313rem;
		}
		.max-width--100 {
			max-width: 100px;
		}
		.dashboard-activity {
			.activity-box {
				margin-right: 5px;
				.image-wrapper {
					width: 60px;
					height: 60px;
					img {
						width: 50px;
						height: 50px;
					}
					.burn-image {
						width: 45px;
					}
				}
			}
			.bar-chart-wrapper {
				width: 65%;
				margin-right: 5px;
			}
		}
		.activity-name {
			width: 28%;
			.font--28 {
				width: unset;
			}
		}
	}
	.activity-wrapper {
		padding: 10px;
	}
	.activity-details-box {
		padding: 5px;
	}
}

@media screen and (max-width: 426px) {
	.container {
		flex-direction: column;
		.profile {
			display: none;
		}
		.dashboard-activity {
			width: 100%;
			margin: 0;
			.name-wrapper {
				display: none !important;
			}
			.dashboard-wrapper {
				margin-top: 0;
			}
			.data-wrapper {
				flex-wrap: wrap;
				.activity-box {
					width: 100%;
					margin: 10px 20px;
				}
			}
			.heart-chart-wrapper {
				flex-wrap: wrap;
				margin-top: 0;
				.bar-chart-wrapper {
					order: 2;
					width: 100%;
					min-height: 100%;
					margin: 10px 20px;
				}
				.heart-box {
					order: 1;
					width: 100%;
					margin: 10px 20px;
				}
			}
			.steps-detail {
				width: 100%;
				left: 0;
			}
		}
		.sidemenu-wrapper {
			.personal-detail {
				margin: 0 20px;
				padding: 20px;
				border-bottom: 1px solid #ed8e61;
			}
			.nav-wrapper {
				margin: 0 20px;
				border-bottom: 1px solid #ed8e61;
				.run-image {
					width: 25px;
				}
			}
		}
		.activity-name {
			width: 100%;
			margin: 10px 20px;
		}
	}
	.activity-details {
		justify-content: space-around;
		.activity-details-box {
			width: 28% !important;
			margin: 2px;
			font-size: 1rem;
			line-height: 20px;
			span {
				font-size: 1.25rem;
			}
		}
	}
}

@media screen and (max-width: 376px) {
	.activity-details {
		.activity-details-box {
			width: 26% !important;
		}
	}
}
